node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
lib/
coverage/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
logs/
*.swp
*.swo
.tmp/
temp/